.menuLinks {
  text-align: center;
  padding: 0px;
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  background-color: #fefefe;
  z-index: 999;
  width: 40vw;
  left: 0;
  top: 30px;
  min-height: 40vh;
  border: 0.4px solid #ccc;
  padding: 10px;
}

.dropdownMenuLinks {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.menuLinks:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
}