* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;

}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}